# Core Dependencies
opencv-python
numpy==1.26.4
mediapipe==0.10.14
chromadb==0.5.23
protobuf==4.25.9
tqdm
pandas
matplotlib

# V1: ArcFace
insightface==0.7.3
onnxruntime-directml

# V2: DINOv2
torch
torchvision
